.section-title {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #232629;
}

.section-divider {
    border: 0;
    border-top: 1px solid #e3e6e8;
    margin: 40px 0;
}